.main{
    font-family: 'Hind', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main{
    width: 100%;
    height: 50vh;
}
.sounds{
    height:100vh;
    width: 50%;
    background-color:black;
    display: flex;   
    align-items: flex-end; 
}
.sd1{
    flex: 1;
    height: 50px;
    background-color: blue;
}

.sd2{
    flex: 1;
    height: 50px;
    background-color:lawngreen;
}
.sd3{
    flex: 1;
    height: 50px;
    background-color: orange;
}
.sd4{
    flex: 1;
    height: 50px;
    background-color: purple;
}
.sd5{
    flex: 1;
    height: 50px;
    background-color: aqua;
}
.sd6{
    flex: 1;
    height: 50px;
    background-color: saddlebrown;
}